.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa a{
  text-decoration: none;
  font-size: 2em;
}

.caixa a:hover{
  color:#f00;
  background-color: #00F;
  text-decoration: none;
  font-size: 2em;
}